/*Site Construction*/


header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px 10px 36px;
}

.hero-section {
    height: 78vh;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 10px 10px 50px 36px;
    background-color: #ffffff;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #99aecb 1px, transparent 1px),
        linear-gradient(to bottom, #99aecb 1px, transparent 1px);
}

body {
    background-color: black;
}

footer {
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 36px 30px 36px;
}

ul {
    list-style-type: none;
    display: flex;

    li {
        margin-right: 20px;

        &:first-child {
            margin-right: 20px;
        }

        &:nth-child(2) {
            margin-right: 20;
        }
    }
}


/*Text Body*/
h1 {
    position: absolute;
    top: 50%;
    left: 3%;
    font-family: "JetBrains Mono", monospace;
    font-size: 3vw;
    font-weight: 800;
    font-style: normal;
    color: #FF7A00;
    z-index: 2;
    transition: color 250ms, transform 750ms;

    &:hover {
        color: blue;
        transform: translateY(-15px);
    }
}

p {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.projectlink {
    font-family: "JetBrains Mono", monospace;
    color: purple;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms, transform 750ms;

    &:hover {
        color: blue;
        transform: translateX(30px);
    }
}

.header-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
    text-decoration: none;

    &:hover {
        color: blue;
        transform: translateY(30px);
    }
}

b {
    font-family: "JetBrains Mono", monospace;
    z-index: 2;
}

.infosection {
    position: absolute;
    top: 65%;
    left: 3%;
}

.footer-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
}

/*Page Elemenets*/

.circle {
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

.circle1 {
    left: 50px;
}

.designcircle {
    position: absolute;
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}

.designcircle1 {
    top: 110;
    left: 910px;
}

.designcircle2 {
    top: 170;
    left: 910px;
}

.designcircle3 {
    top: 230;
    left: 910px;
}




.rectangle {
    position: absolute;
    top: 570px;
    left: 40px;
    padding: 10px 20px 10px 10px;
    background-color: #D7F4F2;
    width: 560px;
    height: 200px;
    z-index: 1;
}

.rectangle1 {
    position: absolute;
    top: 104px;
    left: 900px;
    padding: 10px 20px 10px 10px;
    background-color: #D7F4F2;
    width: 300px;
    height: 500;
    z-index: 1;
}