header {
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px 30px 36px;
}

.hero-section {
    height: 100vh;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 10px 10px 10px 36px;
    background-color: #ffffff;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #99aecb 1px, transparent 1px),
        linear-gradient(to bottom, #99aecb 1px, transparent 1px);
}

body {
    background-color: black;
}

footer {
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 36px 30px 36px;
}

h1 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

p {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

a {
    font-family: "JetBrains Mono", monospace;
    color: purple;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms, transform 750ms;

    &:hover {
        color: blue;
        transform: translateX(30px);
    }
}

.logo-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
}