/*Site Construction*/


header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px 10px 36px;
}

.hero-section {
    height: 78vh;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    padding: 10px 10px 50px 36px;
    background-color: #ffffff;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #99aecb 1px, transparent 1px),
        linear-gradient(to bottom, #99aecb 1px, transparent 1px);
}

body {
    background-color: black;
}

footer {
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 36px 30px 36px;
}

ul {
    list-style-type: none;
    display: flex;

    li {
        margin-right: 20px;

        &:first-child {
            margin-right: 20px;
        }

        &:nth-child(2) {
            margin-right: 20;
        }
    }
}

#popup-window {
    position: fixed;
    width: 500px;
    height: 600px;
    background: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    top: 105px;
    right: 0;
    bottom: 0;
    left: 500px;
    z-index: 10;
    display: none;
}


/*Text Body*/
h1 {
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    z-index: 2;
}

p {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.projectlink {
    font-family: "JetBrains Mono", monospace;
    color: purple;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    z-index: 2;
    transition: color 250ms, transform 750ms;

    &:hover {
        color: blue;
        transform: translateX(30px);
    }
}

.header-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
    text-decoration: none;

    &:hover {
        color: blue;
        transform: translateY(30px);
    }
}

.header-text-on {
    font-family: "JetBrains Mono", monospace;
    color: #FF7A00;
    text-decoration: none;

    &:hover {
        color: blue;
        transform: translateY(30px);
    }
}

.footer-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
}

.about-text {
    font-family: "JetBrains Mono", monospace;
    color: #FF7A00;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    z-index: 2;
    transition: color 250ms, transform 750ms;

    &:hover {
        color: blue;
        transform: translateX(-30px);
    }
}

.pop-up-header {
    font-family: "JetBrains Mono", monospace;
    color: white;
}

.pop-up-text {
    font-family: "JetBrains Mono", monospace;
    color: white;
}

/*Page Elemenets*/

.circle {
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

.circle1 {
    top: 250px;
    left: 350px;
}

.circle2 {
    top: 250px;
    left: 300px;
}

.rectangle {
    position: absolute;
    top: 430px;
    left: 10px;
    padding: 10px 20px 10px 10px;
    background-color: #D7F4F2;
    width: 500px;
    height: 300;
    z-index: 1;
}